.ourAbout {
    padding-top: 40px;
    margin-bottom: 60px;
}

.ourAbout__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0 40px;
    margin-bottom: 60px;
}

.ourAbout__img {
    width: 270px;
    height: 355px;
}

.ourAbout__main {
    width: 346px;
    text-align: center;
    height: 232px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ourAbout__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #000000;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.ourAbout__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
    margin: 0 0 20px 0;
    letter-spacing: .2;
    padding-left: 40px;
}

.ourAbout__summaryLine {
    margin: 0 0 20px 0;
    width: 240px;
    border: #000000 solid 1px;
    position: relative;
    left: 42%;
}