.ourStore__items {
    display: flex;
    width: 800px;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    gap: 65px 0;
    padding-left: 320px;
    margin-bottom: 65px;
}

.ourStore__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 225px;
    background-color: #ffffff;
    border-radius: 5px;
    padding-top: 22px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.ourstore__country {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    letter-spacing: .5px;
    margin: 0 0 10px 0;
}

.ourStore__container {
    text-align: right;
}

/* .ourStore__item:not(:last-child) {
    margin-right: 73px;
} */

.ourStore__img {
    margin-bottom: 10px;
    z-index: 100;
}

.aromistico {
    margin-bottom: 27px;
}

.ourStore_item__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    letter-spacing: .5px;
    margin: 0 0 10px 0;
}

.ourStore_item__price {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    letter-spacing: .5px;
    margin: 0;
}